<div class="content-container">
  <div class="content offset-1 col-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 ">
    <%= render 'shared/side_box', user: @user, audio: @audio %>
    <div class="article-header">
      <div class="original-link">
        <div class="audio-title">
          <%= @audio.title if @audio.title.present? && @audio.text_url.nil? %>
        </div>
        <%# raise %>
        <% if @audio.text_url.present? %>
          Article original sur <%= link_to @audio.text_url do  %>
            <%= URI.parse(@audio.text_url).host.sub(/\Awww\./, '') %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="article-content">
      <% if @audio.text_html.nil? %>
        <%= @audio.text_to_transcript %>
      <% else %>
        <%= @audio.text_html.html_safe %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to new_audio_path do %>
<div style="bottom: 90px;position: absolute;left: 0;">
  <%= render 'shared/btn_add_podcast' %>
</div>
<% end %>
<div class="position-fixed fixed-bottom w-100">
  <%= render 'shared/audio_player', audio: @audio %>
</div>
<!--   <%# audiofile = cloudinary_url(@audio.audio_url, resource_type: :video) %>
  <%#= render './shared/audio_player', audio_file: audiofile, audio: @audio %> -->

