<% activities.each do |activity| %>
  <% if activity.trackable_type != "User" %>
    <div class="activity">
      <div class="user-avatar">
        <%= link_to '/users/'+activity.owner.nickname do %>
          <% if activity.owner.avatar.attached? %>
          <%= cl_image_tag activity.owner.avatar.key, height: 40, width: 40, crop: :scale, class:'rounded-circle' %>
          <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar " %>
          <% end %>
        <% end %>
      </div>
      <div class="activity-detail">
          <%= render_activity activity %>
          <div class="activity-date"><%= activity.trackable.created_at.strftime('Le %d-%m à %k:%M') %></div>
      </div>
      <%#= link_to activity.owner.avatar, activity.owner if activity.owner  %>
      <%# raise %>
    </div>
  <% else %>
    <% if activity.trackable.nickname == current_user.nickname %>
      <div class="activity">
        <div class="user-avatar">
          <%= link_to '/users/'+activity.owner.nickname do %>
            <% if activity.owner.avatar.attached? %>
            <%= cl_image_tag activity.owner.avatar.key, height: 40, width: 40, crop: :scale, class:'rounded-circle' %>
            <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar " %>
            <% end %>
          <% end %>
        </div>
          <div class="activity-detail">
              <%= render_activity activity %>
              <div class="activity-date"><%= activity.trackable.created_at.strftime('Le %d-%m à %k:%M') %></div>
          </div>
        <%#= link_to activity.owner.avatar, activity.owner if activity.owner  %>
        <%# raise %>
      </div>
    <% end %>
  <% end %>
<% end %>
