  <div class="container col-10 col-sm-10 offset-sm-1">
    <div class="navbar navbar-expand-sm navbar-light mr-auto navbar-lewagon">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <%= render 'shared/searchbar' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto links">
          <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if params[:controller] == 'users' && params[:action] == 'show' %>">
            <%= link_to "Profil", user_path(current_user.nickname), class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'playlists' && params[:action] == 'new' %>">
            <%= link_to "Créer une playlist", new_user_playlist_path(current_user.nickname), class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'audios' && params[:action] == 'new' %>">
            <%= link_to "Convertir en audio", new_audio_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup= "true" aria-expanded="false">
              <%= link_to "#", class: "nav-link" do %>
              <i class="far fa-bell"></i>
              <% end %>
            </div>
            <div class="dropdown-menu notification-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%#= link_to "Profil", user_path(current_user.nickname), class: "dropdown-item" %>
              <div class='notification-menu-inner'>
                <%= render 'shared/activities', activities: @activities %>
              </div>
              <div class="notification-menu-arrow"></div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup= "true" aria-expanded="false">
              <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :scale, class:'rounded-circle' %>
              <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar " %>
              <% end %>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%#= link_to "Profil", user_path(current_user.nickname), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id='user-id' data-user="<%= current_user.id %>"></div>

  <% content_for :after_js do %>
  <script>
    App['activities'] = App.cable.subscriptions.create({ channel: 'NotificationsChannel', user_id: document.getElementById('user-id').dataset.user },
      { received: (data) => {
      console.log(data);
      const bell = document.querySelector('.far.fa-bell');
      bell.classList.remove('far');
      bell.classList.add('fas','new-notif');
      bell.style.color = '#5864F6';
      const activityContainer = document.querySelector('.notification-menu-inner');
      activityContainer.insertAdjacentHTML('afterbegin', data.activity_partial)
      }
    })
  </script>
<% end %>

