

<div class="playlists-container">
  <div class="playlists-title-section">
    <div class="playlists-titles">
      <% if current_user %>
        <h2>Vos playlists</h2>
      <% else %>
        <h2>Playlists de user.firstname</h2>
      <% end %>
      <p class="playlists-count"><%= user.playlists.count %> playlists</p>
    </div>
    <div class="plus-button">
      <% if user.playlists.exists? %>
          <%= link_to new_user_playlist_path(@user.nickname) do %>
            <i class="fas fa-plus-circle"></i>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="playlists-cards-container">
    <% if user.playlists.empty? %>
    <div class="add-playlist">
      <i class="fas fa-plus-circle"></i>
      <%= link_to 'Ajouter une playlist', new_user_playlist_path(@user.nickname) %>
    </div>
    <% end %>


   <!--  <div class="playlists-cards-carousele carousel">
      <div class="carousel-controls">
        <a class="carousel-control-prev" href="" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <i class="fa fa-lg fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <i class="fa fa-lg fa-chevron-right"></i>
        </a>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%# if @user.playlists.exists? %>
              <%# @user.playlists.each do |playlist| %>
                <%#= link_to user_playlist_path(playlist.user.nickname, playlist) do %>
                  <%#= render 'shared/playlist-card', playlist: playlist %>
                <%# end %>
              <%# end %>
            <%# end %>
            <div class="playlist-card" style="background-image:url(https://source.unsplash.com/160x160/?abstract/<%= (1..20).to_a.sample %> )"></div>
        </div>
        <div class="carousel-item">
          <div class="playlist-card" style="background-image:url(https://source.unsplash.com/160x160/?abstract/<%= (1..20).to_a.sample %> )"></div>
        </div>
        <div class="carousel-item">
          <div class="playlist-card" style="background-image:url(https://source.unsplash.com/160x160/?abstract/<%= (1..20).to_a.sample %> )"></div>
        </div>
        <div class="carousel-item">
          <div class="playlist-card" style="background-image:url(https://source.unsplash.com/160x160/?abstract/<%= (1..20).to_a.sample %> )"></div>
        </div>
      </div>
    </div> -->

    <div class="playlists-cards-carousel">
          <!-- <div class="slick-wrapper"> -->
            <% if @user.playlists.exists? %>
              <% @user.playlists.each do |playlist| %>
                <%= link_to user_playlist_path(playlist.user.nickname, playlist) do %>
                  <%= render 'shared/playlist-card', playlist: playlist %>
                <% end %>
              <% end %>
            <% end %>
          <!-- </div> -->

    </div>

  </div>

</div>

