<div class="podcast-card-transition">
  <div class="podcast-card-container">
    <div class="podcast-play-button" data-audio-id="<%= audio.id %>" id="<%= audio.id %>">
      <%= link_to user_path(current_user, params: { audio: audio.id }), remote: true do %>
      <i class="fas fa-play"></i>
      <% end %>
    </div>
    <div class="podcast-image">
      <% if audio.text_image.present? %>
      <%= image_tag(audio.text_image) %>
      <% else %>
      <img src="https://source.unsplash.com/90x90/?abstract, <%= (0..200).to_a.sample %>">
      <% end %>
    </div>
    <div class="podcast-text">
      <div class="podcast-title">
        <%#= link_to audio_path(audio), remote: true do %>
          <a href="/audios/<%= audio.id %>"><%= audio.title.truncate(75) %></a>
        <%# end %>
      </div>
      <div class="podcast-desc">
        <%= audio.text_to_transcript.truncate(175) %>
      </div>
      <div class="podcast-media">
        <% if audio.text_url.present? %>
        <%= link_to audio.text_url do  %>
        <%= URI.parse(audio.text_url).host.sub(/\Awww\./, '') %>
        <% end %>
        <% else %>
        Import
        <% end %>
      </div>
    </div>
    <div class="podcast-date">
      <%= audio.created_at.strftime("%d-%m-%Y") %>
    </div>
    <div class="podcast-duration">
    <% if audio.duration.match(":") %>
      <%= audio.duration %>
    <% else %>
      <%= Time.at(audio.duration.to_i).utc.strftime("%M:%S").sub(/^0/, '') unless audio.duration.match(":") %>
    <% end %>
    </div>
    <% if params[:controller] == 'playlists' && params[:action] == 'show' %>
      <%= link_to user_playlist_path(audio.playlists.first), remote: true do %>
        <div class="podcast-favorites" data-audio-id="<%= audio.id %>">
          <% if audio.audios_playlists.find_by(playlist_id: current_user.playlists.first).nil? %>
          <i class="far fa-heart"></i>
          <% else %>
          <i class="fas fa-heart"></i>
          <% end %>
        </div>
      <% end %>
    <% else %>
        <div class="podcast-favorites" data-audio-id="<%= audio.id %>">
          <% if audio.audios_playlists.find_by(playlist_id: current_user.playlists.first).nil? %>
          <i class="far fa-heart"></i>
          <% else %>
          <i class="fas fa-heart"></i>
          <% end %>
        </div>
      <% end %>

    <div class="podcast-3dots">
      <i class="fas fa-ellipsis-h"></i>
    </div>
  </div>
</div>

