<div class="sidebar_container">

  <div class="profile vh-100 m-0">
    <div class="logo">
      <%= link_to (image_tag("logo_flynn.png", alt: "Flynn")), audios_path %>
    </div>
    <div class="profile-sidebar">
      <div class="profile-usermenu">
        <ul class="nav">
          <%= link_to audios_path, class:'sidebar_link' do %>
          <li class="<%= 'active' if params[:controller] == 'audios' && params[:action] == 'index' %>">
            <i class="fas fa-podcast"></i> Fil d'actu
          </li>
          <% end %>
          <%= link_to user_playlists_path(current_user.nickname), class:'sidebar_link' do %>
          <li class=" <%= 'active' if params[:controller] == 'playlists' && params[:action] == 'index' %>">
            <i class="fas fa-stream"></i> Mes playlists
          </li>
          <% end %>
          <%= link_to user_playlist_path(current_user.nickname, current_user.playlists.first), class:'sidebar_link' do %>
          <li class="<%= 'active' if params[:controller] == 'playlists' && params[:action] == 'show' && params[:id] = Playlist.first.id  %>">
            <i class="far fa-heart"></i> Mes podcasts favoris
          </li>
          <% end %>
          <%= link_to user_audios_path(current_user), class:'sidebar_link' do %>
          <li class="<%= 'active' if (params[:controller] == 'audios' && params[:action] == 'audios_by_users') || (params[:controller] == 'audios' && params[:action] == 'new') %>">
            <i class="fas fa-headphones-alt"></i> Mes audios
          </li>
          <% end %>
          <%= link_to "#",class:'sidebar_link' do %>
          <li class="">
            <i class="fas fa-cogs"></i> Paramètres
          </li>
          <% end %>
          <%= link_to new_audio_path do %>
            <%= render 'shared/btn_add_podcast' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
