<div class="sidebar_container">

  <div class="profile border-right bg-white vh-100 m-0">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <%= link_to (image_tag("logo_flynn.png", alt: "Flynn")), user_path(current_user.nickname) %>
      </div>
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="sidebar_link <%= 'active' if params[:controller] == 'audios' && params[:action] == 'new' %>">
            <i class="fas fa-clock"></i><%= link_to "Mes derniers ajouts", audios_path %>
          </li>
          <li class="sidebar_link"><i class="fas fa-stream"></i><%= link_to "Mes playlists", user_playlists_path(current_user.nickname) %></li>
          <li class="sidebar_link"><i class="fas fa-users"></i><%= link_to "Mes abonnements", new_audio_path %></li>
          <li class="sidebar_link"><i class="fas fa-headphones-alt"></i><%= link_to "Mes audios", new_audio_path %></li>
          <li class="sidebar_link_parameters"><i class="fas fa-cogs"></i><%= link_to "Paramètres", new_audio_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
