<div class="sidebar_container">

  <div class="profile border-right bg-white vh-100 m-0">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <%= image_tag "https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2890&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          @pjheissat
        </div>
        <div class="profile-usertitle-job">
          Pierre-Jean Heissat
        </div>
      </div>
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="sidebar_link <%= 'active' if params[:controller] == 'audios' && params[:action] == 'new' %>">
            <%= link_to "Mes derniers ajouts", new_audio_path %>
          </li>
          <li class="sidebar_link"><%= link_to "Mes playlists", audio_path(10) %></li>
          <li class="sidebar_link"><%= link_to "Mes abonnements", new_audio_path %></li>
          <li class="sidebar_link"><%= link_to "Mes audios", new_audio_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
