
<div class="col-10 col-sm-10 offset-sm-1 mt-5">

  <div class="playlist-container" <%= 'data-fav=favorite' if @playlist == @user.playlists.first %>>


    <div class="playlist-infos-container">
      <div class="playlist-image">
        <% if @playlist.playlist_image.attached? %>
        <%= cl_image_tag @playlist.playlist_image.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <img src="https://source.unsplash.com/200x200/?abstract">
        <% end %>
      </div>
      <div class="playlist-infos">
        <h1 class="playlist-title"><%= @playlist.name %></h1>
        <div class="playlist-numbers">
          <div class="audio-numbers">
            <%= @playlist.audios.count %> audios, <%= @p_duration %>
          </div>
        </div>
        <div class="playlist-description">
          <%= @playlist.description %>
        </div>
        <div class="btn btn-primary playlist-play-button">
          Lire
        </div>
      </div>
    </div>

    <div class="playlists-cards-container flex-column">

      <% @playlist.audios.reverse.each do |audio| %>
      <%= render 'shared/podcast-card', audio: audio %>
      <% end %>

    </div>

  </div>
</div>



