<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flynn • Vos articles à haute voix</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" /> -->
  </head>
  <body class="<%= controller.controller_name %>_<%= controller.action_name %>">
  <%= render 'shared/flashes' %>
  <div class="container-fluid p-0">
    <% unless request.fullpath=='/' %>
      <div class="player-on-top">
        <%#= render 'shared/audio_player', audio_file: Audio.first.audio_url, audio: Audio.first %>
        <%#= raise %>
        <%= render 'shared/audio_player', audio: Audio.first unless ( params[:controller] == 'audios' && params[:action] == 'show')%>
      </div>
    <% end %>
    <div class="d-flex">
      <%= render "shared/sidebartwo" unless request.fullpath=='/' || request.fullpath=='/users/sign_in' || request.fullpath=='/users/sign_up'%>
      <div class="main_container">
        <%= render 'shared/navbar' %>
        <%= yield %>
      </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :after_js %>
  <%= javascript_pack_tag 'application' %>
  </body>
</html>
